.textselectbutton {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    width: 100px;
}
.hide {
    display: none;
}
.w40 {
    width: 40% !important;
}